<div class="row my-3">
  <div class="col-md-12 col-sm-12 table-responsive">
    <app-message
      msgtext="{{ msgtext }}"
      msgclass="{{ msgclass }}"
      *ngIf="msgtext"
    ></app-message>
    <h6 class="text-primary">
      Route No: {{ routeno }}
      <span class="float-right text-success">
        Total Cans: {{ totalbuffcans }} ({{ totalcowcans }})
      </span>
    </h6>
    <h6 class="text-danger" *ngIf="!routesdata">
      <i class="fa fa-exclamation-triangle"></i>
      <span class="mx-1">
        There aren't any customers available on this route.
      </span>
    </h6>
    <table class="table table-bordered" *ngIf="routesdata">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Customer</th>
          <th scope="col">Buffalo Milk</th>
          <th scope="col">Cow Milk</th>
          <th scope="col">Cans</th>
          <th scope="col">Change Route</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let det of routesdata; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ det.name }}</td>
          <td>{{ det.buffaloqty }}</td>
          <td>{{ det.cowqty }}</td>
          <td>{{ det.buffcans }} ({{ det.cowcans }})</td>
          <td>
            <div class="row">
              <div class="col-md-9">
                <input type="text" class="form-control form-control-sm" [(ngModel)]="det.route"/>
              </div>
              <div class="col-md-3">
                <button class="btn btn-sm btn-info" (click)="changeRoute(det)" [disabled]="!det.route">Save</button>
              </div>
            </div>            
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
