<div class="container">
  <h5 class="my-3">Dummy Title</h5>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12 col-md-3 text-muted">
          <label for="dummytext" class="label m-0">Dummy Text Box</label>
          <input
            type="date"
            class="form-control"
            [(ngModel)]="dummytext"
            id="dummytext"
            placeholder="Enter Dummy Text"
          />
        </div>
      </div>
    </div>
  </div>
</div>
