<div class="container">
  <h5 class="my-3">Purchase</h5>
  <app-message
    msgtext="{{ msgtext }}"
    msgclass="{{ msgclass }}"
    *ngIf="msgtext"
  ></app-message>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12 col-md-4 text-muted">
          <label for="purDate" class="label m-0">Purchase Date</label>
          <input
            type="date"
            id="purDate"
            class="form-control"
            [(ngModel)]="purDate"
            placeholder="Enter Purchase Date"
          />
        </div>

        <div class="col-sm-12 col-md-12 mt-4 text-muted">
          <div class="row">
            <div class="col-md-5">
              <button
                class="btn btn-primary"
                (click)="addPurchase()"
                title="Add Purchase."
                [disabled]="!purDate || !purTime"
              >
                Purchase
              </button>
            </div>
            <div class="col-md-7 text-primary">
              <span>
                Buffalo Milk Stock:
                <strong class="text-danger">{{ stockbuffaloqty }}</strong>
              </span>
              <span class="ml-3">
                Cow Milk Stock:
                <strong class="text-danger">{{ stockcowqty }}</strong>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr class="bg-info text-white">
                  <th scope="col">Supplier Name</th>
                  <th scope="col">Buffalo Milk Qty</th>
                  <th scope="col">Cow Milk Qty</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let supp of allsuppdata; let i = index">
                  <th>
                    <div class="row">
                      <div class="col-md-10">
                        {{ supp.name }}
                      </div>
                    </div>
                  </th>
                  <td>
                    <div class="row">
                      <div class="col-sm-12 col-md-6 text-muted">
                        <label for="morngbuffaloqty" class="label m-0"
                          >Morning Qty</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Enter Buffalo Milk (Mandatory)"
                          [(ngModel)]="supp.morngbuffaloqty"
                          (change)="calculateAmount(supp, i)"
                          [disabled]="!value"
                        />
                      </div>
                      <div class="col-sm-12 col-md-6 text-muted">
                        <label for="evngbuffaloqty" class="label m-0"
                          >Evening Qty</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Enter Buffalo Milk (Mandatory)"
                          [(ngModel)]="supp.evngbuffaloqty"
                          (change)="calculateAmount(supp, i)"
                        />
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <div class="col-sm-12 col-md-6 text-muted">
                        <label for="morngcowqty" class="label m-0"
                          >Morning Qty</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Enter Buffalo Milk (Mandatory)"
                          [(ngModel)]="supp.morngcowqty"
                          (change)="calculateAmount(supp, i)"
                        />
                      </div>
                      <div class="col-sm-12 col-md-6 text-muted">
                        <label for="evngcowqty" class="label m-0"
                          >Evening Qty</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Enter Buffalo Milk (Mandatory)"
                          [(ngModel)]="supp.evngcowqty"
                          (change)="calculateAmount(supp, i)"
                        />
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
