@media print {
  @page {
    size: auto;
    margin: 0;
  }
}
#printroute * {
  visibility: visible;
  overflow: visible;
  font-size: 9px;
}
.card {
  border: 0px;
}
div.header-content {
  margin-left: 230px;
}
