<div class="container">
  <h5 class="my-3">Add customer opening balance</h5>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12 col-md-4 text-muted">
          <label for="customernm" class="label m-0">select customer Name</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="customernm"
            id="customernm"
            placeholder="select customer Name"
          />
        </div>
        <div class="col-sm-12 col-md-4 text-muted">
          <label for="openingbal" class="openingbal m-0">opening Balance</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="openingbal"
            id="openingbal"
            placeholder="Enter opening balance."
          />
        </div>
        <div class="col-sm-12 col-md-4 text-muted">
          <label for="openingbaldate" class="label m-0">
            opening Balance Date</label
          >
          <input
            type="date"
            class="form-control"
            [(ngModel)]="openingbaldate"
            id="openingbaldate"
          />
        </div>
        <div class="col-sm-12 col-md-3 text-muted my-3">
          <button
            class="btn btn-sm btn-warning"
            [disabled]="!customernm || !openingbal || !openingbaldate"
          >
            Update opening balance
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
