<div class="container">
  <h5 class="my-3">Wastage Milk</h5>
  <app-message
    msgtext="{{ msgtext }}"
    msgclass="{{ msgclass }}"
    *ngIf="msgtext"
  ></app-message>

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6 col-xs-12 mb-3">
          <label>Date</label>
          <input
            type="date"
            class="form-control"
            [(ngModel)]="todate"
            class="form-control"
            id="todate"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 md-12">
          <label>Buffalo Milk Wastage</label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter Cow Milk Wastage"
            [(ngModel)]="buffalowastage"
          />
        </div>

        <div class="col-sm-6 md-12">
          <label>Cow Milk Wastage </label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter Cow Milk Wastage"
            [(ngModel)]="cowastage"
          />
        </div>
      </div>
      <div class="my-3">
        <button class="btn btn-sm btn-info" (click)="addWastageMilk()">
          Save
        </button>
      </div>
    </div>
  </div>
</div>
