.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.milkman-login-card{
  border: 11px;
  box-shadow: 0 20px 31px 11px rgba(0, 0, 0, 0.1);
}

.milkman-login-button{
  border-radius: 100px !important;
  box-shadow: 3px 7px 4px 0px #cdd0d4;
}

.milkman-login-card-title{
  font-family: Poppins-Bold;
  font-size: 32px;
  margin-top: 32px;
}

.milkman-login-user-icon{
  font-size: 64px;
 }

 .milkman-login-error{
   margin-top: 18px !important;
 }

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  border-radius: 0px;
  border-bottom: 1px black;
  border-style: none none solid none;
}
.form-signin .form-control:focus {
  z-index: 2;
}
 .form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
} 

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
