<div class="container">
  <h5 class="my-3">Routes</h5>

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12 col-md-3 text-muted">
          <label for="deldate" class="label m-0">Delivery Date</label>
          <input
            type="date"
            class="form-control"
            [(ngModel)]="deldate"
            id="deldate"
            (change)="getAllOrderRoutes()"
          />
        </div>
        <div class="col-sm-12 col-md-3 text-muted">
          <label for="routeno" class="label m-0">Route No.</label>
          <select
            name="routeno"
            id="routeno"
            class="form-control"
            [(ngModel)]="routeno"
            (change)="routeChange()"
            [disabled]="!routesdata"
          >
            <option value="{{ route.route }}" *ngFor="let route of routesdata">
              {{ route.route }}
            </option>
          </select>
        </div>
      </div>

      <app-viewroutedets
        routeno="{{ routeval }}"
        deldate="{{ deldate }}"
        *ngIf="routeval && deldate"
      ></app-viewroutedets>
    </div>
  </div>
</div>
