<div class="container">
  <h5 class="my-2">Place Order</h5>
  <app-message
    msgtext="{{ msgtext }}"
    msgclass="{{ msgclass }}"
    *ngIf="msgtext"
  ></app-message>

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12 col-md-3 text-muted">
          <label for="routeno" class="label m-0">Select Route</label>
          <select
            name="routeno"
            id="routeno"
            class="form-control"
            [(ngModel)]="routeno"
            (change)="filterCustAsPerRoutes()"
          >
            <option
              value="{{ route.routeno }}"
              *ngFor="let route of routesdata"
            >
              {{ route.routeno }}
            </option>
          </select>
        </div>
        <div class="col-sm-12 col-md-3 text-muted">
          <label for="orderdt" class="label m-0">Order Date</label>
          <input
            type="date"
            id="orderdt"
            class="form-control"
            [(ngModel)]="orderdt"
            (change)="filterCustAsPerRoutes()"
          />
        </div>
        <div class="col-sm-12 col-md-3 text-muted">
          <label for="drivernm" class="label m-0">Driver Name</label>
          <input
            type="text"
            id="drivernm"
            class="form-control"
            [(ngModel)]="drivernm"
            placeholder="Enter Driver Name"
          />
        </div>
        <div class="col-sm-12 col-md-3 text-muted">
          <label for="vehicleno" class="label m-0">Vehicle No.</label>
          <input
            type="text"
            id="vehicleno"
            class="form-control"
            [(ngModel)]="vehicleno"
            placeholder="Enter Vehicle No."
          />
        </div>
        <div class="col-sm-12 col-md-12 mt-3 text-muted">
          <div class="row">
            <div class="col-md-8">
              <button
                class="btn btn-primary"
                (click)="placeOrder()"
                [disabled]="!drivernm || !vehicleno"
                title="Place Order"
              >
                Place Order
              </button>
            </div>
            <div class="col-md-4 text-primary">
              <span>
                Buffalo Milk Stock:
                <strong class="text-danger">{{ stockbuffaloqty }}</strong>
              </span>
              <span class="ml-3">
                Cow Milk Stock:
                <strong class="text-danger">{{ stockcowqty }}</strong>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-md-12">
          <div class="table-responsive">
            <h6 class="text-primary">
              All Customers on Route:
              <span class="text-success">{{ routeno }}</span>
            </h6>
            <table class="table table-bordered">
              <thead>
                <tr class="bg-info text-white">
                  <th scope="col">Customer Name</th>
                  <th scope="col">Buffalo Milk Qty</th>
                  <th scope="col">Cow Milk Qty</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cust of routecusts; let i = index">
                  <th>
                    <div class="row">
                      <div class="col-md-7">
                        {{ cust.name }}
                      </div>
                    </div>
                  </th>
                  <td>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      placeholder="Enter Buffalo Milk (Mandatory)"
                      [(ngModel)]="cust.buffaloqty"
                      (change)="calculateAmount(cust, i)"
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      placeholder="Enter Cow Milk (Mandatory)"
                      [(ngModel)]="cust.cowqty"
                      (change)="calculateAmount(cust, i)"
                    />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-printroute></app-printroute>
</div>

<!-- routeno="{{ routeno }}"
orderdt="{{ orderdt }}"
*ngIf="routeno && orderdt"
-->
